<h1>Edit or Delete you list below:</h1>

<form action="/lists/<%=@list.id%>" method="POST">
<input type="hidden" name="_method" id="hidden" value="PATCH">
<h3><label for="List Name">List Name: </label>
<input type="text" name="list[name]" value="<%=@list.name%>"></h3>
<br>
<%@list.items.each do |item|%>
    <label for="Item Name">Item Name: </label>
    <input type="hidden" name="items[][id]" value= <%=item.id%>>
    <input type="text" name="items[][name]" value="<%=item.name%>">
    <label for="Price">Price: </label>
    <input type="number" name="items[][price]" value=<%=item.price%>>
    <label for="Ranking">Ranking (on a scale of 1-10):</label>
    <input type="number" name="items[][ranking]" min="1" max="10" value=<%=item.ranking%>>
    <br>
    <% end %>
<h5>Add additional items:</h5>
<label for="Item Name">Item Name: </label>
<input type="text" name="items[][name]">
<label for="Price">Price: </label>
<input type="number" name="items[][price]">
<label for="Ranking">Ranking (on a scale of 1-10):</label>
<input type="number" name="items[][ranking]" min="1" max="10">
<br>
<label for="Item Name">Item Name: </label>
<input type="text" name="items[][name]">
<label for="Price">Price: </label>
<input type="number" name="items[][price]">
<label for="Ranking">Ranking (on a scale of 1-10):</label>
<input type="number" name="items[][ranking]" min="1" max="10">
<br>
<label for="Item Name">Item Name: </label>
<input type="text" name="items[][name]">
<label for="Price">Price: </label>
<input type="number" name="items[][price]">
<label for="Ranking">Ranking (on a scale of 1-10):</label>
<input type="number" name="items[][ranking]" min="1" max="10">
<br>

<input type="submit" value="Update List">    
<input type="reset">
</form>
<br>
<form action="/lists/<%=@list.id%>" method="POST">
        <input type="hidden" id="hidden" name="_method" value="DELETE">
        <input type="submit" value="Delete List">
</form>



