<h1>Here are your Lists, <%=@user.name%>!</h1>

<%@user.lists.each do |list|%>
    <h3><%=list.name%></h3>
    <% if !list.items.empty?%>   
        <table>
            <tr>
                <th>Item</th>
                <th>Price</th>
                <th>Ranking</th>
            </tr>
            
            <%list.ordered_items.each do |item|%>
                <tr>
                    <td><%=item.name%></td>
                    <td>$<%=item.price%></td>
                    <td><%=item.ranking%></td>
                </tr>
            <% end %>
        </table>
    <%else%>
        <h4>There are no items on this list.</h4>
    <%end%>
    
    <form action="/lists/<%=list.id%>/edit" method="GET">
    <input type="submit" value="Edit">
    </form>
    <form action="/lists/<%=list.id%>" method="POST">
    <input type="hidden" id="hidden" name="_method" value="DELETE">
    <input type="submit" value="Delete">
    </form>
<% end %>
