<h1><%= @list.name %></h1>

<h3 id="created_by">Created by, <%= @list.user.name %> on <%=@list.created_at.strftime("%B %e, %Y")%></h3>

<table>
    <tr>
        <th>Item</th>
        <th>Price</th>
        <th>Ranking</th>
    </tr>
        <% sort_by_item_ranking(@list).each do |item|%>
            <tr>
                <td><%=item.name%></td>
                <td>$<%=item.price%></td>
                <td><%=item.ranking%></td>
            </tr>
        <% end %>
</table>
<br>      
<% if session[:user_id] == @list.user_id%>   
    <form action="/lists/<%=@list.id%>/edit" method="GET">
        <input type="submit" value="Edit">
    </form>
    <form action="/lists/<%=@list.id%>" method="POST">
        <input type="hidden" id="hidden" name="_method" value="DELETE">
        <input type="submit" value="Delete">
    </form>
<% end %>