<h1>See your list below:</h1>

<h3> <%= @list.name %></h3>

<table>
    <tr>
        <th>Item</th>
        <th>Price</th>
        <th>Ranking</th>
    </tr>
        <% @items.each do |item|%>
            <tr>
                <td><%=item.name%></td>
                <td><%=item.price%></td>
                <td><%=item.ranking%></td>
            </tr>
        <% end %>
</table>
        
<form action="/lists/<%=@list.id%>/edit" method="GET">
    <input type="submit" value="Edit">
</form>
<form action="/lists/<%=@list.id%>" method="POST">
    <input type="hidden" id="hidden" name="_method" value="DELETE">
    <input type="submit" value="Delete">
</form>